In [3]:
import pandas as pd

import re
from odf import text, teletype
from odf.opendocument import load

In [5]:
# Extracting location description 
def odt_to_txt(input_file):
    doc = load(input_file)
    txt = ''
    for paragraph in doc.getElementsByType(text.P):
        txt += teletype.extractText(paragraph) + '\n'
    return txt

def extract_numbers(text):
    try:
        match = re.match('\d+', text)
        if match:
            number = int(match.group())
        elif re.match('[aA-zZ\s+]+:', text):
            number = re.match('[aA-zZ\s+]+:', text).group().replace(':', '')
        return number
    except Exception as e:
        pass

def split_by_multiple_blank_lines(text):
    sections = re.split('\n\n+', text)
    return sections

def odt_to_dict(input_file):
    txt = odt_to_txt(input_file)
    paras = split_by_multiple_blank_lines(txt)
    num_para_dict = {extract_numbers(para):para for para in paras}
    return num_para_dict


num_para_dict = odt_to_dict('./local_data/data/data_selection/CSV_05_Dec/335.odt')
num_para_dict.pop(None)
df_odt = pd.DataFrame(list(num_para_dict.items()), columns=['Number', 'Location Description'])
df_odt

<>:11: SyntaxWarning: invalid escape sequence '\d'
<>:14: SyntaxWarning: invalid escape sequence '\s'
<>:15: SyntaxWarning: invalid escape sequence '\s'
<>:11: SyntaxWarning: invalid escape sequence '\d'
<>:14: SyntaxWarning: invalid escape sequence '\s'
<>:15: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_11514/4279923433.py:11: SyntaxWarning: invalid escape sequence '\d'
  match = re.match('\d+', text)
/tmp/ipykernel_11514/4279923433.py:14: SyntaxWarning: invalid escape sequence '\s'
  elif re.match('[aA-zZ\s+]+:', text):
/tmp/ipykernel_11514/4279923433.py:15: SyntaxWarning: invalid escape sequence '\s'
  number = re.match('[aA-zZ\s+]+:', text).group().replace(':', '')

   Number                               Location Description
0     1.0  1. Bredower Forst  : refers to a forest area i...
1     2.0  2. Brieselang: is a town located in the Havell...
2     3.0  3. B체tenheide: is a locality in Germany, speci...
3     4.0                                          4. Kr채mer
4     5.0  5. Flatower Kienheide: is a nature reserve loc...
5     NaN

In [ ]:
df = pd.DataFrame(list(num_para_dict.items()), columns=['Number', 'Location Description'])